@import "~bootstrap/scss/bootstrap";
@import "vars/vars";
@import "components/header";
body{
 background-color: $background-color;
 color: $text-color;
}
.rounded-button{
 border: solid 1px $lines-color;
 height: 2.5em;
 border-radius: 21px;
 padding: 0 1em;
 font-size: 1em;
 text-transform: uppercase;
 font-weight: bold;
 color: $lines-color;
}
.data-section{
 background-color: #ebebeb;
 .inner-section{
  background-color: $background-color;
  border-radius: 6px;
  width: 100vw;
 }
}