.main-header{
  height: 16vh;
  background-color: #f9f9f9;
  .header-inner{
    background-color: $background-color;
    width: 100vw;
    height: 50%;
    border-radius: 6px;
    .logo{
      width: 46px;
      border: solid 1px $lines-color;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }


}